.inputDiv {
    display: flex;
    width: 100%;
}

.input {
    color: #50505f;
    padding: 10px;
    background-color: #fafafa;
    border: none;
    border-bottom: 1px solid var(--gray-line);
    outline: none;
    width: 100%;
    font-size: 1rem;
}
.input:focus::placeholder {
    color: transparent;
}
.inputLabel, .inputLabelActive {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    width: fit-content;
    margin: 0 0 0 10px;
    transform: translate(0, 12px);
    transition: 0.1s ease-in-out all;
    pointer-events: none;
    background-color: #00000000;
    color: #00000000;
}

.inputLabelActive {
    position: absolute;
    color: var(--blue1);
    transform: translate(-5px, -10px) scale(0.8);
    transition: 0.1s ease-in-out all;
}