.container {
    max-width: 90%;
    width: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: #eeeef0 5px 5px 20px;
}