.header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: 100px;
}

.headerName {
    color: #fafafa;
    font-size: 1rem;
    margin: 0;
}