.header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: 100px;
}

.headerName {
    color: #fafafa;
    font-size: 1rem;
    margin: 0;
}

.rightContainer {
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.profilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}