* {
    box-sizing: border-box;
}

.listaBG {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 80%;
    margin: 20px 0 5px 0;
}

.imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 10px;
    background-color: var(--blue5);
    border-radius: 12px;
}
.title {
    margin: 5px 0;
    font-size: 0.8rem;
    color: #050505;
}

.info {
    font-size: 0.5rem;
    color: #101010;
}