.container {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 5px 15px;
    border-radius: 12px;
    background-color: #fafafa;
    min-width: 90dvw;
    min-height: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5px auto;
    font-size: 0.55rem;
}

.title {
    margin: 0 0 0 -5px;
    color: var(--blue0);
    font-size: 0.8rem;
}